---
---
@charset "utf-8";

@import "bulma";

#nav_bar {
	background-color: #fff8e1;
}

.background_color {
	background-color: #ffffff;
}
.background_primary_color {
	background-color: #fff8e1;
}
#category_topic {
	background-color: #ffffff;
}
.border-right {
	border-right: #e7e7e7 solid 1px;
}

aside {
	padding: 20px;
}

nav {
	border-bottom: #e7e7e7 solid 1px;
}