---
---
@charset "utf-8";

@import "bulma";

.nav_bar {
	background-color: #fff3e0;
}

.background_color {
	background-color: #ffffff;
}
.background_primary_color {
	background-color: #fff3e0;
}

.color {
	color: $primary;
}

#category_topic {
	background-color: $primary;
	color: white;
}
.border-right {
	border-right: #e7e7e7 solid 1px;
}

aside {
	padding: 20px;
}

nav {
	border-bottom: #e7e7e7 solid 1px;
}

.section {
	padding: 1rem 1.5rem;
}

.hero-body {
	padding: 1.5rem 1.5rem;
}

