		<div class="columns">
			<div class="column is-10 is-offset-1">
				<div class="title">
					กระดานสนทนา
				</div>
				<hr>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="{{ site.url }}/images/profile/suthum.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="content">
				      <p>
				        <strong>สุธรรม ธิติอนันต์ปกรณ์</strong>
				        <br>
				        ผมสงสัยเกี่ยวกับเสียงพยัญชนะครับ เสียงพยัญชนะในภาษาไทยมี 44 รูป แต่ 21 เสียง ใช่รึเปล่าครับ
				        <br>
				        <small><a>ตอบกลับ</a> | 3 ชม.</small>
				      </p>
				    </div>

				    <article class="media">
				      <figure class="media-left">
				        <p class="image is-48x48">
				          <img src="{{ site.url }}/images/profile/pathanin.jpg">
				        </p>
				      </figure>
				      <div class="media-content">
				        <div class="content">
				          <p>
				            <strong>ปธานิน โลกโบว์</strong>
				            <br>
				            น่าจะใช่นะครับ และพยัญชนะทั้ง 44 รูปก็แบ่งเป็นสามประเภทด้วยครับ คือพยัญชนะกลาง พยัญชนะเติม และพยัญชนะเดิม
				            <br>
										<small><a>ตอบกลับ</a> | 2 ชม.</small>
				          </p>
				        </div>
				      </div>
				    </article>

				    <article class="media">
				      <figure class="media-left">
				        <p class="image is-48x48">
				          <img src="{{ site.url }}/images/profile/paolo.jpg">
				        </p>
				      </figure>
				      <div class="media-content">
				        <div class="content">
				          <p>
				            <strong>อ. เปา โล</strong>
				            <br>
				            ใช่แล้วครับ ถูกต้องตามที่ คุณปธานินโลกโบว์ บอกเลยครับ
				            <br>
										<small><a>ตอบกลับ</a> | 2 ชม.</small>
				          </p>
				        </div>
				      </div>
				    </article>
				  </div>
				</article>
				<article class="media">
				  <figure class="media-left">
				    <p class="image is-64x64">
				      <img src="{{ site.url }}/images/courses/teacher-6.jpg">
				    </p>
				  </figure>
				  <div class="media-content">
				    <div class="field">
				      <p class="control">
				        <textarea class="textarea" placeholder="แสดงความเห็น..."></textarea>
				      </p>
				    </div>
				    <div class="field">
				      <p class="control">
				        <button class="button">โพสความเห็น</button>
				      </p>
				    </div>
				  </div>
				</article>
			</div>
		</div>