<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="{{ site.url }}/images/logo.png" style="min-height: 50px;" alt="Bulma logo">
      </a>
      <a href="/home" 	 class="nav-item is-tab is-hidden-mobile is-active">Home</a>
      <a href="/courses" class="nav-item is-tab is-hidden-mobile">Courses</a>
      <a href="/teacher" class="nav-item is-tab is-hidden-mobile">Teacher</a>
      <a href="/help" 	 class="nav-item is-tab is-hidden-mobile">Help</a>
      <a href="/about" 	 class="nav-item is-tab is-hidden-mobile">About</a>
    </div>
    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-right nav-menu">
      <a href="/home" 	  class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a href="/courses"  class="nav-item is-tab is-hidden-tablet">Courses</a>
      <a href="/teacher"  class="nav-item is-tab is-hidden-tablet">Teacher</a>
      <a href="/help" 	  class="nav-item is-tab is-hidden-tablet">Help</a>
      <a href="/about" 	  class="nav-item is-tab is-hidden-tablet">About</a>
      <a href="/profile" class="nav-item is-tab">
        <figure class="image is-32x32" style="margin-right: 8px;">
          <img src="{{ site.url }}/images/profile.jpg">
        </figure>
        Profile
      </a>
      <a href="/login" class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>