<nav class="nav has-shadow" id="nav_bar">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="{{ site.url }}/images/logo.png" style="min-height: 50px;" alt="Bulma logo">
      </a>
      <a href="/home" 	 class="nav-item is-tab is-hidden-mobile is-active">หน้าหลัก</a>
      <a href="/courses" class="nav-item is-tab is-hidden-mobile">เลือกคอร์สเรียน</a>
      <a href="/help" 	 class="nav-item is-tab is-hidden-mobile">ช่วยเหลือ</a>
    </div>
    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-right nav-menu">
      <a href="/home" 	  class="nav-item is-tab is-hidden-tablet is-active">หน้าหลัก</a>
      <a href="/courses"  class="nav-item is-tab is-hidden-tablet">เลือกคอร์สเรียน</a>
      <a href="/teacher"  class="nav-item is-tab is-hidden-tablet">ช่วยเหลือ</a>
      <a href="/profile" class="nav-item is-tab">
        <figure class="image is-32x32" style="margin-right: 8px;">
          <img src="{{ site.url }}/images/profile.jpg">
        </figure>
				กรวีย์ กา.
      </a>
      <a href="/login" class="nav-item is-tab">ออกจากระบบ</a>
    </div>
  </div>
</nav>