<aside class="menu">
	<p class="menu-label">
		หมวดวิชา
	</p>
	<ul class="menu-list">
		<li><a>ภาษาศาสตร์</a></li>
		<li>
			<ul>
				<li><a class="is-active">ภาษาอังกฤษ</a></li>
				<li><a>ภาษาไทย</a></li>
				<li><a>ภาษาจีน</a></li>
				<li><a>ภาษาลาว</a></li>
				<li><a>ภาษาฝรั่งเศส</a></li>
				<li><a>ภาษาญี่ปุ่น</a></li>
			</ul>
		</li>
		<li><a>การบริหารธุรกิจ</a></li>
		<li><a>วิทยาการคอมพิวเตอร์</a></li>
		<li><a>วิทยาศาสตร์ข้อมูล</a></li>
		<li><a>วิทยาศาสตร์</a></li>
		<li><a>คณิตศาสตร์</a></li>
		<li><a>ประวัติศาสตร์</a></li>
		<li><a>จิตวิทยา</a></li>
		<li><a>การพัฒนาตนเอง</a></li>
	</ul>
</aside>