<aside class="menu">
	<p class="menu-label">
		บทเรียน
	</p>
	<ul class="menu-list">
		<li><a>เสียงสระ</a></li>
		<li>
			<ul>
				<li><a>สระเดี่ยว</a></li>
				<li><a>สระประสม</a></li>
				<li><a>สระเกิน</a></li>
			</ul>
		</li>
		<li><a>เสียงพยัญชนะ</a></li>
		<li>
			<ul>
				<li><a class="{% if page.route=='courses' and page.course=='thai' and page.sub=='video' %}is-active{% endif %}" href="/courses/thai/learn/video.html" >เสียงพยัญชนะ{{( page.route == 'course') and (page.sub == 'video' ) }}</a></li>
				<li><a class="{% if page.route=='courses' and page.course=='thai' and page.sub=='document' %}is-active{% endif %}" href="/courses/thai/learn/document.html" >บทความ เรื่องเสียงพยัญชนะ</a></li>
				<li><a class="{% if page.route=='courses' and page.course=='thai' and page.sub=='exercise' %}is-active{% endif %}" href="/courses/thai/learn/exercise.html" >แบบฝึกหัด เรื่องเสียงพยัญชนะ</a></li>
			</ul>
		</li>
		<li><a>เสียงวรรณยุคต์</a></li>
		<li>
			<ul>
				<li><a>เสียงดนตรี</a></li>
				<li><a>เสียงวรรณยุคต์</a></li>
			</ul>
		</li>
	</ul>
</aside>
