<aside class="menu">
	<p class="menu-label">
		บทเรียน
	</p>
	<ul class="menu-list">
		<li><a>เสียงสระ</a></li>
		<li>
			<ul>
				<li>
						<div class="columns">
							<div class="column is-9">
								<a href="#" >สระเดี่ยว</a> 
							</div>
							<div class="column is-3">
								<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
							</div>
						</div>
				</li>
				<li>
					<div class="columns">
						<div class="column is-9">
							<a href="#" >สระประสม</a> 
						</div>
						<div class="column is-3">
							<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
						</div>
					</div>
				</li>
				<li>
					<div class="columns">
						<div class="column is-9">
							<a href="#" >สระเกิน</a> 
						</div>
						<div class="column is-3">
							<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
						</div>
					</div>
				</li>
				<li>
					<div class="columns">
						<div class="column">
							<a href="#" > &nbsp;&nbsp;+ เพิ่มบทเรียน</a>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li><a>เสียงพยัญชนะ</a></li>
		<li>
			<ul>
				<li>
					<div class="columns">
						<div class="column is-9">
							<a class="{% if page.route=='profile' and page.course=='thai' and page.sub=='video' %}is-active{% endif %}" href="/instructor/thai/learn/video.html" >วีดีโอ{{( page.route == 'course') and (page.sub == 'video' ) }} </a> 
						</div>
						<div class="column is-3">
							<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
						</div>
					</div>
				</li>
				<li>
					<div class="columns">
						<div class="column is-9">
							<a class="{% if page.route=='profile' and page.course=='thai' and page.sub=='document' %}is-active{% endif %}" href="/instructor/thai/learn/document.html" >บทความ</a>
						</div>
						<div class="column is-3">
							<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
						</div>
					</div>
				</li>
				<li>
					<div class="columns">
						<div class="column is-9">
							<a class="{% if page.route=='profile' and page.course=='thai' and page.sub=='exercise' %}is-active{% endif %}" href="/instructor/thai/learn/exercise.html" >แบบฝึกหัด</a>
						</div>
						<div class="column is-3">
							<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
						</div>
					</div>
				</li>
				<li>
					<div class="columns">
						<div class="column">
							<a href="#" > &nbsp;&nbsp;+ เพิ่มบทเรียน</a>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li><a>เสียงวรรณยุคต์</a></li>
		<li>
			<ul>
				<li>
					<div class="columns">
						<div class="column is-9">
							<a>เสียงดนตรี</a>
						</div>
						<div class="column is-3">
							<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
						</div>
					</div>
				</li>
				<li>
					<div class="columns">
						<div class="column is-9">
							<a>เสียงวรรณยุคต์</a>
						</div>
						<div class="column is-3">
							<a align="center" > <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>
						</div>
					</div>
				</li>
				<li>
					<div class="columns">
						<div class="column">
							<a href="#" > &nbsp;&nbsp;+ เพิ่มบทเรียน</a>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li><a href="#" > + เพิ่มหัวข้อ</a></li>
	</ul>
</aside>
