<aside class="menu">
	<p class="menu-label">
		บทเรียน
	</p>
	<ul class="menu-list">
		<li><a>เสียงสระ</a></li>
		<li>
			<ul>
				<li><a>สระเดี่ยว</a></li>
				<li><a>สระประสม</a></li>
				<li><a>สระเกิน</a></li>
			</ul>
		</li>
		<li><a>เสียงพยัญชนะ</a></li>
		<li>
			<ul>
				<li><a class="is-active">รูปพยัญชนะ</a></li>
				<li><a>จำพวกของพยัญชนะ</a></li>
				<li><a>เสียงพยัญชนะ</a></li>
			</ul>
		</li>
		<li><a>เสียงวรรณยุคต์</a></li>
		<li>
			<ul>
				<li><a>เสียงดนตรี</a></li>
				<li><a>เสียงวรรณยุคต์</a></li>
			</ul>
		</li>
	</ul>
</aside>