---
layout: default
route: courses
course: thai
sub: document
---

<div class="columns background_color">
	<div class="column is-2 border-right">
		{% include sidebar.html %}
	</div>
	<div class="column" id="div-main">
		<br>
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<div class="title">
					เสียงพยัญชนะ | บทความ
				</div>
				<hr>
			</div>
		</div>
		<section class="hero columns">
			<div class="hero-body column is-10 is-offset-1">
					<p>
						&nbsp;&nbsp;&nbsp;เสียงพยัญชนะ  คือ เสียงที่เปล่งออกมาแล้วถูกสกัดกั้นโดยอวัยวะส่วนใดส่วนหนึ่งทำให้เสียงต่างกันออกไปตามอวัยวะที่มาสกัดกั้นเสียงพยัญชนะในภาษาไทยมี  44 รูป  21  เสียง<br>
        				&nbsp;&nbsp; พยัญชนะ  44  รูป  จำแนกตามวิธีใช้เป็น  3  จำพวก  คือ <br>
						<p>1.  <b>พยัญชนะกลาง</b>  คือ  พยัญชนะที่ใช้โดยทั่วไปทั้งภาษาไทย  บาลี  สันสกฤต  มี 21  รูป  คือ</p><br>
							<p class="has-text-centered">ก  ข  ค  ง  จ  ฉ  ช  ต  ถ  ท  น  ป  ผ  พ  ม  ย  ร  ล  ว  ส  ห</p><br>
						<p>2.  <b>พยัญชนะเดิม</b>  คือ  พยัญชนะที่ติดมาจากแบบเดิมมีใช้กันในภาษาบาลีสันสกฤตโดยมาก
						ที  13  รูป  คือ</p><br>
						    <p class="has-text-centered">ฆ  ฌ  ญ  ฏ  ฐ  ฑ  ฒ  ณ  ธ  ภ  ฬ  ศ  ษ</p><br>
						<p>3.  <b>พยัญชนะเติม</b>  คือ  พยัญชนะไทยที่คิดเพิ่มเติมขึ้นภายหลังมี  10  รูป  คือ</p><br>
						    <p class="has-text-centered">ฃ  ฅ  ซ  ฎ  ด  บ  ฝ  ฟ  อ  ฮ</p><br>
						<p> <b>หมายเหตุ</b> รูปพยัญชนะ  44  รูป  เป็นพยัญชนะต้นได้  42  รูป  พยัญชนะที่ไม่ใช้  คือ  ฃ  ฅ  ส่วนพยัญชนะที่เป็นตัวสะกดไม่ได้  คือ </p><br>
							<p class="has-text-centered">ฃ  ฅ  ฉ  ผ  ฝ  ฌ  ห  อ  ฮ</p><br>
					</p>
			</div>
		</section>
		<br>
		{% include discussion.html %}

	</div>
</div>
